<div>
  <div>
    <%= link_to table.table_num, table_path(table.id) %>
  </div>
  <% menu_order = MenuOrder.where(order_id: table.order_confirms.map(&:order_id)).order(id: "DESC") %>
  <div>
  <% menu_order.each do |menu| %>
    <%= menu.menu.name %>×<%= menu.quantity %>個
  <% end %>
  </div>

</div>

