<div>
  <div>
    <%= link_to table.table_num, table_path(table.id) %>
  </div>
  <div>
    <% menu_order = MenuOrder.where(order_id: table.order_confirms.map(&:order_id)).order(id: "ASC") %>
  </div>
</div>
