<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">テーブル新規作成</h2>
      <%= form_with model: @table, local: true do |f| %>
        <div class="field">
          <%= f.label :table_num, "テーブル番号" %><br/>
          <%= f.text_field :table_num, id:"table_num" %>
        </div>
        <div class="actions">
          <%= f.submit "作成する", class: :form__btn  %>
        </div>
      <% end %>
    </div>
  </div>
</div>